<footer>
    <div class=" text-center row">
        <div>
            <div>
                <p class="col-lg-6 text-center">
                    Version <a href="https://github.com/sLevasseur" target="_blank">Open Source</a> du site
                </p>
                <div class="col-lg-2 text-center">
                    <small><p><a href="/open_source/unsubscribe/">Se désinscrire</a></p></small>
                </div>
                <div class="col-lg-2 text-center">
                    <small><p><a href="/admin/">Accès admin</a></p></small>
                </div>
                <div class="col-lg-2 text-center">
                    <small><p><a href="/open_source/legal_stuff/">Mentions légales</a></p></small>
                </div>
            </div>
        </div>
    </div>
</footer>
